@page
@model PersonalTrainerProject.Pages.Suplimente.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1 style="font-family:'Trebuchet MS';color:#6699ff">Detalii</h1>

<div>
    <h4 style="font-family:'Trebuchet MS';color:#9494b8;">Supliment</h4>
    <hr />
    <dl class="row"> 
        <dt class="col-sm-2" style="font-family:'Trebuchet MS';color:#99bbff">
            @Html.DisplayNameFor(model => model.Supliment.Denumire)
        </dt>
        <dd class="col-sm-10" style="font-family:'Trebuchet MS'">
            @Html.DisplayFor(model => model.Supliment.Denumire)
        </dd>
        <dt class="col-sm-2" style="font-family:'Trebuchet MS';color:#99bbff">
            @Html.DisplayNameFor(model => model.Supliment.Cantitate)
        </dt>
        <dd class="col-sm-10" style="font-family:'Trebuchet MS'">
            @Html.DisplayFor(model => model.Supliment.Cantitate)
        </dd>
        <dt class="col-sm-2" style="font-family:'Trebuchet MS';color:#99bbff">
            @Html.DisplayNameFor(model => model.Supliment.Price)
        </dt>
        <dd class="col-sm-10" style="font-family:'Trebuchet MS'">
            @Html.DisplayFor(model => model.Supliment.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Supliment.ID">Editează</a> |
    <a asp-page="./Index">Înapoi</a>
</div>
